<!-- Recupera o valor de uma variavel no ts -->
<!-- <h1>Nome: {{ pessoa.endereco.rua }}</h1>
<h1>Nome: {{ pessoa.endereco.rua }}</h1> -->

<!-- Chama o metodo quando o evento especificado acontecer -->
<!-- Todos os eventos -->
<!-- https://www.w3schools.com/angular/angular_events.asp -->
<!-- <h1 (mouseover)="showName()">Teste</h1> -->

<!-- <form action="/action_page.php">
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <input type="submit" value="Submit">
</form>

<input type="email"><br>
<input type="file"><br>
<input type="hidden"><br>
<input type="image"><br>
<input type="month"><br>
<input type="number"><br>
<input type="password"><br>
<input type="radio"><br>
<input type="range"><br>
<input type="reset"><br>
<input type="search"><br>
<input type="submit"><br>
<input type="tel"><br>
<input type="text">(valor padrão)<br>
<input type="time"><br>
<input type="url"><br>
<input type="week"><br> -->

<!-- <h1>{{ name }}</h1> -->

<!-- Nome: <input type="text" [(ngModel)]="name"><br> -->

<!-- Nome: <input type="text" [(ngModel)]="name"><br>
Cor Preferida: <input type="color" [(ngModel)]="color"><br>
Idade <input type="number" [(ngModel)]="age"><br>

<h1 *ngIf="name.length >= 5" >{{ name }}</h1>
<h1>{{ color }}</h1>
<h1>{{ age }}</h1> -->

<!-- <div *ngFor="let fruta of frutas">
  <p>ID: {{ fruta.id }}</p>
  <p>Nome: {{ fruta.nome }}</p>
  <p>Valor: {{ fruta.valor }}</p>
  <p>-------------------------------</p>
</div> -->
  <div id="general">

    <div id="create">
      <div id="nome">
        <label for="inputName" class="texto">Nome: </label>
        <input type="text" [(ngModel)]="nome" id="inputName" class="input"><br>
      </div>
      <div id="idade">
        <label for="inputIdade"  class="texto">Idade: </label>
        <input type="number" [(ngModel)]="idade" id="inputIdade" class="input"><br>
      </div>      
      
      <div id="submitButton">
        <input type="submit" value="Criar Novo" (click)="arrayPessoas()" class="button">
        <input type="submit" value="Salvar Edição" (click)="savePeople()" class="button">
      </div>
    </div>
  
    <!-- <div id="table" *ngFor="let pessoa of pessoas" (click)="selectPeople(pessoa)">
      <div id="pessoa">
        <p>Id: {{ pessoa.id }}</p>
        <p>Nome: {{ pessoa.nome }}</p>
        <p>Idade: {{ pessoa.idade }}</p>
        <button (click)="deletePeople(pessoa.id)">Delete</button>
        <p>-------------------------------</p>
      </div>
    </div>
  </div> -->

  <table id="table">
    <caption id="captionTable">Pessoas</caption>
    <tbody>
      <tr>
        <th class="coluna">Id</th>
        <th class="coluna">Nome</th>
        <th class="coluna">Idade</th>
        <th class="coluna">Deletar</th>
      </tr>
      <tr *ngFor="let pessoa of pessoas" (click)="selectPeople(pessoa)">
        <td class="coluna">{{ pessoa.id }}</td>
        <td class="coluna">{{ pessoa.nome }}</td>
        <td class="coluna">{{ pessoa.idade }}</td>
        <td class="coluna">
          <button (click)="deletePeople(pessoa.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>



